/* SLIDER DIV CONTAINER */
#slider {
  margin: 40px auto;
  max-width: 1100px;
  text-align: center; }
  #slider input[type=radio] {
    display: none; }
  #slider input[type=checkbox] {
    display: none; }

/* STYLING SLIDESHOW */
#slides {
  padding: 0px 50px;
  border-radius: 20px;
  background-color: rgba(248, 248, 255, 0.8);
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0px 15px 0px black; }
  #slides .inner {
    transition: margin-left 0.75s;
    width: 500%;
    line-height: 0;
    height: 450px;
    float: left; }
    #slides .inner .slide:nth-child(1) h2 {
      position: relative;
      width: 100%;
      font-size: 2.5em;
      opacity: 1;
      color: #FF0000;
      text-shadow: 1.5px 1.5px #FF8080; }
    #slides .inner .slide:nth-child(2) h2 {
      position: relative;
      width: 100%;
      font-size: 2.5em;
      opacity: 1;
      color: #000;
      text-shadow: 1.5px 1.5px #808080; }
    #slides .inner .slide:nth-child(3) h2 {
      position: relative;
      width: 100%;
      font-size: 2.5em;
      opacity: 1;
      color: #70706f;
      text-shadow: 1.5px 1.5px #B8B8B7; }
    #slides .inner .slide:nth-child(4) h2 {
      position: relative;
      width: 100%;
      font-size: 2.5em;
      opacity: 1;
      color: #0c71e0;
      text-shadow: 1.5px 1.5px #86B8F0; }
    #slides .inner .slide:nth-child(5) h2 {
      position: relative;
      width: 100%;
      font-size: 2.5em;
      opacity: 1;
      color: #6f2da9;
      text-shadow: 1.5px 1.5px #B796D4; }
  #slides .slide {
    width: 20%;
    float: left;
    display: block;
    height: 100%; }
    #slides .slide img {
      position: relative;
      height: 360px;
      width: 300px;
      cursor: pointer;
      transition: 0.1s; }
      #slides .slide img:active {
        transform: scale(0.95); }

/* OVERFLOW INSIDE SLIDER */
#overflow {
  width: 100%;
  overflow: hidden; }

/* SLIDE CHECK FOR NAVIGATION */
#slide1:checked ~ #slides .inner {
  margin-left: 0%; }

#slide2:checked ~ #slides .inner {
  margin-left: -100%; }

#slide3:checked ~ #slides .inner {
  margin-left: -200%; }

#slide4:checked ~ #slides .inner {
  margin-left: -300%; }

#slide5:checked ~ #slides .inner {
  margin-left: -400%; }

/* CHARACTER INFO BOX */
.char-info {
  position: relative;
  right: 100px;
  float: right;
  background-color: white;
  box-shadow: 0px 0px 5px 0px black;
  border-radius: 10px;
  width: 350px;
  height: auto;
  padding: 10px 10px;
  display: none; }
  .char-info table {
    border-collapse: collapse;
    height: auto;
    width: 100%;
    font-size: 1.1em; }
    .char-info table td {
      font-weight: bold;
      padding-left: 10px;
      text-align: left;
      line-height: normal;
      height: 50px; }

.char-info-1 .table-type {
  background-color: #FF0000;
  color: white;
  border-radius: 5px; }

.char-info-2 .table-type {
  background-color: #000;
  color: white;
  border-radius: 5px; }

.char-info-3 .table-type {
  background-color: #70706f;
  color: white;
  border-radius: 5px; }

.char-info-4 .table-type {
  background-color: #0c71e0;
  color: white;
  border-radius: 5px; }

.char-info-5 .table-type {
  background-color: #6f2da9;
  color: white;
  border-radius: 5px; }

/* CHECKBOX TO OPEN CHARACTER INFO BOX */
input[type=checkbox]:checked ~ .char-info {
  display: block;
  animation: animate-char-info 0.5s forwards; }

/* ANIMATE CHARACTER INFO BOX */
@keyframes animate-char-info {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* TO PLAY ANIMATION ON IMAGE WHEN NAVIGATING SLIDES (executed from JS) */
.animate-char-slide {
  animation: animate-char-img-slide 0.75s; }

/* ANIMATE CHARACTER IMAGE WHEN NAVIGATING SLIDES */
@keyframes animate-char-img-slide {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.7); }
  100% {
    transform: scale(1); } }
/* ANIMATING ARROW ICONS */
/* STYLING ARROWS */
#arrow-left {
  position: absolute;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  transition: 0.3s;
  cursor: pointer; }
  #arrow-left:hover {
    background-color: rgba(211, 211, 211, 0.6); }
  #arrow-left i {
    font-size: 30px;
    color: grey; }
@keyframes arrow-hover1 {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(-25%); }
  100% {
    transform: translateX(0); } }
  #arrow-left:hover i {
    animation: arrow-hover1 0.75s infinite; }

#arrow-right {
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  transition: 0.3s;
  cursor: pointer; }
  #arrow-right:hover {
    background-color: rgba(211, 211, 211, 0.6); }
  #arrow-right i {
    font-size: 30px;
    color: grey; }
@keyframes arrow-hover2 {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(25%); }
  100% {
    transform: translateX(0); } }
  #arrow-right:hover i {
    animation: arrow-hover2 0.75s infinite; }

/* Styling navigation container */
#navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: nowrap;
  max-width: 900px;
  height: 130px;
  margin: -8px auto;
  text-align: center; }
  #navigation label {
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border: 4px solid lightgrey;
    border-radius: 100%;
    background-color: grey;
    overflow: hidden;
    box-shadow: 0 0px 15px 0px black;
    cursor: pointer;
    transition: 1s; }
    #navigation label img {
      width: 150%;
      height: 220%;
      text-align: center;
      filter: brightness(50%);
      transition: 1s; }
    #navigation label .currentSelectImage {
      filter: brightness(100%); }
    #navigation label:hover {
      background-color: white;
      transform: rotateY(360deg);
      box-shadow: 0 0px 15px 0px red; }
      #navigation label:hover img {
        filter: brightness(100%); }
    #navigation label .char-img-2 {
      position: relative;
      left: -10px;
      top: -15px; }
    #navigation label .char-img-3 {
      position: relative;
      left: -30px;
      top: 5px; }
    #navigation label .char-img-4 {
      position: relative;
      left: -20px;
      top: 0; }
    #navigation label .char-img-5 {
      position: relative;
      left: -30px;
      top: 0; }
  #navigation .currentSelect {
    background-color: white;
    border: 4px solid red; }

/* For Tablet screens (over 480px and under 800px) */
@media screen and (min-width: 480px) and (max-width: 800px) {
  /* NAVIGATION BUTTONS */
  #navigation {
    gap: 30px;
    margin-top: 100px; }
    #navigation label {
      width: 120px;
      height: 120px; }

  /* CHECKBOX TO OPEN CHARACTER INFO BOX */
  input[type=checkbox]:checked ~ .char-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

  /* STYLING SLIDESHOW */
  #slides .inner {
    height: 800px; }
  #slides .slide h2 {
    padding-top: 20px;
    padding-bottom: 20px; }
  #slides .slide img {
    height: 630px;
    width: 450px; } }
/* For Mobile screens (under 480px) */
@media screen and (max-width: 480px) {
  /* NAVIGATION BUTTONS */
  #navigation {
    gap: 20px;
    flex-wrap: wrap; }
    #navigation label {
      margin-bottom: 0px;
      width: 90px;
      height: 90px; }

  /* CHECKBOX TO OPEN CHARACTER INFO BOX */
  input[type=checkbox]:checked ~ .char-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

  /* STYLING SLIDESHOW */
  #slides .inner {
    line-height: normal;
    height: 480px; }
  #slides .slide img {
    height: 350px;
    width: 250px; }
  #slides .slide h2 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px; } }
* {
  text-align: center;
  font-family: 'Courier New', Courier, monospace; }

body {
  background-color: black; }

/* STYLE ALL BACKGROUND IMAGES */
.background-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -99;
  filter: blur(3px);
  transition: opacity 0.4s ease-in-out; }

/* FOR BACKGROUND IMAGE THAT IS CURRENTLY SHOWING (executed from JS) */
.showing {
  opacity: 1; }

/* HEADER TITLE */
h1 {
  color: white;
  background-color: crimson;
  font-size: 3em;
  margin: 0;
  box-shadow: 0 0px 15px 0px black; }

/*# sourceMappingURL=main.css.map */
