// Variables
$arrowButtonWidth: 50px;
$iconSize: 30px;
$hoverColor: rgba(211, 211, 211, 0.6);
$iconColor: grey;

// Mixin for styling arrows
@mixin arrow-styling($property) {
    position: absolute;
    #{$property}: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: $arrowButtonWidth;
    transition: 0.3s;
    cursor: pointer;

    // Hover effect
    &:hover {
        background-color: $hoverColor;
    }

    // Arrow Icon
    i {
        font-size: $iconSize;
        color: $iconColor;
    }
}

// Mixin for animating the arrow (holding two parameters for the purpose of changing directions)
/* ANIMATING ARROW ICONS */
@mixin animate-icon-arrow($translateValue, $animNo) {
    @keyframes arrow-hover#{$animNo} {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX($translateValue);
        }

        100% {
            transform: translateX(0);
        }
    }

    // Hover effect
    &:hover {

        // Add animation to arrow
        i {
            animation: arrow-hover#{$animNo} 0.75s infinite;
        }
    }
}

/* STYLING ARROWS */
#arrow-left {
    @include arrow-styling(left);
    @include animate-icon-arrow(-25%, 1);
}

#arrow-right {
    @include arrow-styling(right);
    @include animate-icon-arrow(25%, 2);
}