$sliderHeight: 800px;
$buttonCircleSize: 120px;

/* For Tablet screens (over 480px and under 800px) */
@media screen and (min-width: 480px) and (max-width: 800px) {

    /* NAVIGATION BUTTONS */
    #navigation {
        gap: 30px;
        margin-top: 100px;

        label {
            width: $buttonCircleSize;
            height: $buttonCircleSize;
        }
    }

    /* CHECKBOX TO OPEN CHARACTER INFO BOX */
    input[type=checkbox]:checked~.char-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* STYLING SLIDESHOW */
    #slides {
        .inner {
            height: $sliderHeight;
        }

        .slide {
            h2 {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            img {
                height: 630px;
                width: 450px;
            }
        }
    }
}